################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bedando_1/FileContentIndex/9df93eb4-1005-4d7e-bf24-f6e12fbaa9ae.vsidx
